# deep learning with python

## multy layer perceptron - ANN

### please predict the churn of customers

Part 1 : import libraries

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import tensorflow as tf

In [5]:
dataset = pd.read_csv('C:\\Users\\ziggurat\\desktop\\deep learning with python\\Churn_Modelling2.csv')
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
dataset.info

<bound method DataFrame.info of       RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>

In [8]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [9]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Part 2 : features and label (x , y)

In [10]:
y = dataset['Exited']
x = dataset[['CreditScore','Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']]
# x = dataset.drop([['RowNumber', 'CustomerId', 'Surname', 'Geography', 'Exited']])

In [11]:
x.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,Female,42,2,0.00,1,1,1,101348.88
1,608,Female,41,1,83807.86,1,0,1,112542.58
2,502,Female,42,8,159660.80,3,1,0,113931.57
3,699,Female,39,1,0.00,2,0,0,93826.63
4,850,Female,43,2,125510.82,1,1,1,79084.10

In [12]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

# Part 3 : Pre-Processing

### Encoding Categorical data

In [13]:
male = pd.get_dummies(x['Gender'], drop_first=True)
male

       Male
0     False
1     False
2     False
3     False
4     False
...     ...
9995   True
9996   True
9997  False
9998   True
9999  False

[10000 rows x 1 columns]

In [14]:
x = pd.concat([x , male], axis=1)
x

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male
0,619,Female,42,2,0.00,1,1,1,101348.88,False
1,608,Female,41,1,83807.86,1,0,1,112542.58,False
2,502,Female,42,8,159660.80,3,1,0,113931.57,False
3,699,Female,39,1,0.00,2,0,0,93826.63,False
4,850,Female,43,2,125510.82,1,1,1,79084.10,False
...,...,...,...,...,...,...,...,...,...,...
9995,771,Male,39,5,0.00,2,1,0,96270.64,True
9996,516,Male,35,10,57369.61,1,1,1,101699.77,True
9997,709,Female,36,7,0.00,1,0,1,42085.58,False
9998,772,Male,42,3,75075.31,2,1,0,92888.52,True
9999,792,Female,28,4,130142.79,1,1,0,38190.78,False

In [15]:
x.drop(['Gender'], axis=1, inplace=True)
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male
0,619,42,2,0.00,1,1,1,101348.88,False
1,608,41,1,83807.86,1,0,1,112542.58,False
2,502,42,8,159660.80,3,1,0,113931.57,False
3,699,39,1,0.00,2,0,0,93826.63,False
4,850,43,2,125510.82,1,1,1,79084.10,False
...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,True
9996,516,35,10,57369.61,1,1,1,101699.77,True
9997,709,36,7,0.00,1,0,1,42085.58,False
9998,772,42,3,75075.31,2,1,0,92888.52,True
9999,792,28,4,130142.79,1,1,0,38190.78,False

# Part 4 : Train the model (model selection)

### train test split

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=101)

In [18]:
x_train.shape

(8000, 9)

In [19]:
x_test.shape

(2000, 9)

In [20]:
y_train.shape

(8000,)

In [21]:
y_test.shape

(2000,)

### Model: Multy-Layer Perceptron

In [22]:
from keras.models import Sequential

In [23]:
mlp = Sequential()

In [24]:
from keras import layers

In [25]:
mlp.add(layers.Dense(units=6, activation='relu'))
mlp.add(layers.Dense(units=6, activation='relu'))
mlp.add(layers.Dense(units=1, activation='sigmoid'))

# Part 5 : Training the model

In [26]:
mlp.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [27]:
mlp.fit(x_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 8s 8ms/step - accuracy: 0.6819 - loss: 292.7422
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.7262 - loss: 10.2725
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7247 - loss: 8.5195
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7275 - loss: 6.5910
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7305 - loss: 7.7155
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7309 - loss: 10.2269
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7225 - loss: 7.4846
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.7293 - loss: 10.1298
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.7314 - loss: 9.0276
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.7283 - loss: 8.6350
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 10ms/step - accuracy: 0.7300 - loss: 6.1291
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 11ms/step - accuracy: 0.7276 - loss: 8.1682
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 10ms/step - accuracy: 0.7334 - loss: 6.6500
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.7358 - loss: 5.6875
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 11ms/step - accuracy: 0.7296 - loss: 6.9587
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 11ms/step - accuracy: 0.7290 - loss: 13.4159
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - accuracy: 0.7310 - loss: 9.4410
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 10ms/step - accuracy: 0.7303 - loss: 8.8080
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 9ms/step - accuracy: 0.7264 - loss: 7.1570
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.7324 - loss: 6.1859
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.7295 - loss: 6.4254
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7333 - loss: 7.2979
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7349 - loss: 8.0450
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7355 - loss: 8.8353
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.7289 - loss: 6.7690
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7293 - loss: 5.5830
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7315 - loss: 6.3618
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.7404 - loss: 4.7529
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.7293 - loss: 9.5447
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7320 - loss: 8.9213
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7334 - loss: 7.1556
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7366 - loss: 8.0647
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7350 - loss: 6.6840
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7354 - loss: 5.9650
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7321 - loss: 6.4240
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7393 - loss: 5.6174
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7296 - loss: 7.0647
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7285 - loss: 7.1090
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7374 - loss: 4.8910
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7326 - loss: 4.2410
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7359 - loss: 5.0182
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7421 - loss: 4.7787
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7368 - loss: 3.9212
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - accuracy: 0.7366 - loss: 5.5717
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7360 - loss: 7.5080
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7366 - loss: 4.8298
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.7340 - loss: 5.6735
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7329 - loss: 4.4936
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7358 - loss: 7.0041
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7415 - loss: 5.0540
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.7434 - loss: 4.9712
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7347 - loss: 4.4696
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7390 - loss: 4.3588
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7441 - loss: 4.4486
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7446 - loss: 4.7754
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7416 - loss: 6.0096
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7436 - loss: 6.0561
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7444 - loss: 3.7162
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7495 - loss: 4.6086
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7554 - loss: 3.2060
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.7481 - loss: 4.1854
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.7462 - loss: 5.0670
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7576 - loss: 3.4962
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7495 - loss: 4.1063
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7531 - loss: 3.5743
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.7486 - loss: 4.4000
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7531 - loss: 3.5611
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7511 - loss: 4.5572
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7602 - loss: 3.4209
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7570 - loss: 4.0781
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.7594 - loss: 3.5320
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7601 - loss: 2.6639
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7611 - loss: 3.3871
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7574 - loss: 4.2408
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7577 - loss: 3.9529
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.7606 - loss: 3.3227
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7639 - loss: 2.9531
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7624 - loss: 3.1326
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7640 - loss: 2.7224
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7632 - loss: 3.2130
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.7623 - loss: 1.8073
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - accuracy: 0.7644 - loss: 2.3405
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7631 - loss: 2.0582
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7656 - loss: 2.3166
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7635 - loss: 2.4562
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7676 - loss: 1.6025
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7648 - loss: 1.5201
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7625 - loss: 2.0632
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7625 - loss: 2.1342
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7640 - loss: 1.6980
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.7691 - loss: 1.0960
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - accuracy: 0.7667 - loss: 1.1846
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 10ms/step - accuracy: 0.7642 - loss: 1.2936
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 9ms/step - accuracy: 0.7699 - loss: 1.2781
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.7686 - loss: 1.1219
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.7674 - loss: 1.0195
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.7736 - loss: 0.7984
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.7754 - loss: 0.8111
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.7706 - loss: 0.8900
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.7809 - loss: 0.7125

# Part 6: Evaluation of model and prediction

In [28]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male
0,619,42,2,0.00,1,1,1,101348.88,False
1,608,41,1,83807.86,1,0,1,112542.58,False
2,502,42,8,159660.80,3,1,0,113931.57,False
3,699,39,1,0.00,2,0,0,93826.63,False
4,850,43,2,125510.82,1,1,1,79084.10,False

In [32]:
pred = mlp.predict(x_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step

In [33]:
pred_df = pd.DataFrame(data = pred)
pred_df

             0
0     0.002262
1     0.231900
2     0.231900
3     0.231900
4     0.231900
...        ...
1995  0.000319
1996  0.231900
1997  0.198762
1998  0.008255
1999  0.231900

[2000 rows x 1 columns]

In [34]:
pred_df = pred_df > 0.5

In [35]:
from sklearn.metrics import confusion_matrix, classification_report

In [36]:
print(confusion_matrix(y_test, pred_df))

[[1576    1]
 [ 422    1]]

In [40]:
print(classification_report(y_test, pred_df))

              precision    recall  f1-score   support

           0       0.79      1.00      0.88      1577
           1       0.50      0.00      0.00       423

    accuracy                           0.79      2000
   macro avg       0.64      0.50      0.44      2000
weighted avg       0.73      0.79      0.70      2000

In [37]:
Ali = np.array([[600, 40, 3, 60000, 3, 1 , 1, 50000, 1]])
Ali

array([[  600,    40,     3, 60000,     3,     1,     1, 50000,     1]])

In [38]:
mlp.predict(Ali)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 249ms/step

array([[0.2318997]], dtype=float32)

In [39]:
print(mlp.predict(Ali) > 0.5)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 144ms/step
[[False]]